<h2 for="client_name">Clients</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Requested Features Cnt.</th>
            <th>Product</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: client_list">
        <tr>
            <td> <span data-bind="text: name"></span>
            </td>

            <td> <span data-bind="text: email"></span>
            </td>

            <td> <span data-bind="text: phone_number"></span>
            </td>

            <td> <span data-bind="text: product_relation"></span>
            </td>

            <td> <span data-bind="text: request_relation"></span>
            </td>
        </tr>
    </tbody>
</table>
