<form id="feature_add_form">
    <div class="form-group">
        <label for="client_id">Select a Client</label>
        <select id="client_id" class="form-control"
                data-bind="options: client_list, optionsValue: 'id', optionsText: 'name', optionsCaption: '-- --', event: {change: sync_client_requests}"></select>
    </div>
    <div class="form-group">
        <input id="title" class="form-control" placeholder="Title"/>
    </div>
    <div class="form-group">
        <textarea id="description" rows="7" class="form-control" placeholder="Description"></textarea>
    </div>
    <!-- priority, product, target date fields-->
    <div class="container">
        <div class="row">
            <div class="form-group col-sm">
                <label for="priority_id">Priority</label>
                <select  id="priority_id" class="form-control"
                         data-bind="options: priority_list, optionsCaption: '-- --'"></select>
            </div>
            <div class="form-group col-sm">
                <label for="product_id">Product</label>
                <select  id="product_id" class="form-control"
                         data-bind="options: product_list, optionsValue: 'id', optionsText: 'product_code', optionsCaption: '-- --'"></select>
            </div>
            <div class="form-group col-sm">
                <label for="date_target">Target Date</label>
                <input type="date" class="form-control" id="date_target"/>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="feature_create"
                    data-bind="click: feature_create" disabled> Confirm </button>
        </div>

    </div>
</form>
<hr class="my-4">
<div>
    <h3>Client's Requested Features</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Client</th>
                <th>Product ID</th>
                <th>Priority ID</th>
                <th>Target Date</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: client_requests">
            <tr>
                <td><span data-bind="text: title"></span></td>
                <td><p data-bind="text: description"></p></td>
                <td><span data-bind="text: client_id"></span></td>
                <td><span data-bind="text: product_id"></span></td>
                <td><span data-bind="text: priority_id"></span></td>
                <td><span data-bind="text: date_target"></span></td>
                <td><span data-bind="text: date_created"></span></td>
            </tr>
        </tbody>
    </table>
</div>