<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- navigation bar begin-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Feature Center</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"> 
                     <a href="#clients" data-bind="click: clients">Clients</a> </li>
                <li> <a href="#features" data-bind="click: features">Features</a> </li>
                <li> <a href="#feature_add" data-bind="click: feature_add">Submit Feature Request</a></li>
                <li> <a href="#reports" data-bind="click: reports" >Reports</a> </li>
            </ul>
        </div>
    </nav>
    <!--navigation bar end-->

    <div id="presenter" class="container jumbotron" data-bind="template: presenter"></div>

    <template id="#clients">{% include 'clients.html' %}</template>
    <template id="#featurexs">{% include 'features.html' %}</template>
    <template id="#feature_add">{% include 'feature_add.html' %}</template>
    <template id="#reports">{% include 'reports.html' %}</template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/scripts/vm_feature_center.js"></script>
</body>
</html>