<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <span data-bind="template: 'navbar'"></span>

    <div id="presenter" class="container" data-bind="template: 'presenter'"></div>

	<template id="navbar">{% include 'navbar.html' %}</template>
    <template id="client_add">{% include 'client_add.html' %}</template>
    <template id="client_info">{% include 'client_info.html' %}</template>
    <template id="client_update">{% include 'client_update.html' %}</template>
    <template id="clients_view">{%include 'clients_view.html' %}</template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/vm_feature-center.js"></script>
</body>
</html>