<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <span class="container" data-bind="template: navbar"></span>

    <div id="presenter" class="container jumbotron" data-bind="template: presenter"></div>

	<template id="#navbar">{% include 'navbar.html' %}</template>
    <template id="#clients">{% include 'clients.html' %}</template>
    <template id="#features">{% include 'features.html' %}</template>
    <template id="#feature_add">{% include 'feature_add.html' %}</template>
    <template id="#reports">{% include 'reports.html' %}</template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/vm_client.js"></script>
</body>
</html>